<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>商品详情</title>
	<link rel="shortcut icon" href="images/favicon.ico"/>
	<link rel="bookmark" href="images/favicon.ico"/>
	<link rel="stylesheet" href="stylesheets/reset.css">
	<link rel="stylesheet" href="stylesheets/header.css">
	<link rel="stylesheet" href="stylesheets/footer.css">
	<link rel="stylesheet" href="stylesheets/details.css">
</head>
<body>
	<header class="header"></header>
	<section class="details_top">
		<h5>
			<!--URBANITE XL Wireless Black 无线蓝牙通讯新品耳机-->
		</h5>
		<div class="details_top_container">
			<div class="details_top_left">
				<div style="width: 570px">
					<img data-images="details_top_left" src="" alt="">
				</div>
				<div class="mask"></div>
				<div class="superMask"></div>
			</div>
			<div class='magnifier'></div>
			<div class="details_top_right">
				<h3>
					<!--URBANITE XL Wireless Black 无线蓝牙通讯新品耳机-->
				</h3>
				<p>
					<span>￥</span>
					<span>
						<!--2,199.00-->
					</span>
				</p>
				<p>
					<span>包邮 部分配件除外</span>
				</p>
				<p>
					<span>月销量</span><span></span>
				</p>
				<p>
					<span>型号 :</span>
				</p>
				<p>
					<!--<a href="" class="current">苹果版黑色</a> <a href="" >苹果版橄榄色</a>-->
					<!--<a href="" >无线蓝牙黑色</a><a href="" >无线蓝牙橄榄色</a>-->
				</p>
				<p>
					<span>数量 :</span><input type="text" value="1" data-count="count">
					<div class="add_minus">
					<b data-count="add">+</b><b data-count="minus">-</b>
				</div>
				</p>
				<p>
					<a href="#" class="addToCart">加入购物车</a>
				</p>
			</div>
		</div>
		<div data-images="medium">
			<img class="medium" src="images/products_images/p/2017-08-16/NEW_XM/URBANITE-XL-Wireless-Black.png" alt="">
			<img class="medium" src="images/products_images/p/2017-08-16/NEW_XM/URBANITE-XL-Wireless-Black_3.png" alt="">
			<img class="medium" src="images/products_images/p/2017-08-16/NEW_XM/URBANITE-XL-Wireless-Black_4.png" alt="">
		</div>
	</section>
	<section class="details_bottom">
		<div class="details_bottom_left">
			<p>商品详情</p>
			<div>
				<img data-images="long" src="images/products_images/momentum/details_images/long.png" alt="">
			</div>
		</div>
		<div class="details_bottom_right">
			<p>热销推荐</p>
			<div>
				<a href="/details?productId=5">
					<img src="images/products_images/hd/hd650/hd650_01.png" alt="">
					<p><span>¥</span><span>2659.00</span></p>
					<p>HD 650 开放式结构，带来绝佳的听音感受</p>
				</a>
			</div>
			<div>
				<a href="/details?productId=1">
					<img src="images/products_images/urbanite_xl/urbanite_xl_wireless_black/urbanite_xl_wireless_black_01.png" alt="">
					<p><span>¥</span><span>219.00</span></p>
					<p>HD 201 HiFi入门首选 超强低音</p>
				</a>
			</div>
			<div>
				<a href="/details?productId=2">
					<img src="images/products_images/urbanite_xl/urbanite_xl_apple/urbanite_xl_apple_01.png" alt="">
					<p><span>¥</span><span>1199.00</span></p>
					<p>URBANITE Plum 梅子色 i</p>
				</a>
			</div>
			<div>
				<a href="/details?productId=7">
					<img src="images/products_images/momentum/momentum_wirless_ivory_m2_aebt_ivory_black/momentum_wirless_ivory_m2_aebt_ivory_black_01.png" alt="">
					<p><span>¥</span><span>2899.00</span></p>
					<p>MOMENTUM Wireless Black  (M2 AEBT Black) 新品无线蓝牙降噪耳机</p>
				</a>
			</div>
			<div>
				<a href="/details?productId=6">
					<img src="images/products_images/momentum/momentum_wirless_ivory_m2_aebt_ivory_white/momentum_wirless_ivory_m2_aebt_ivory_01.png" alt="">
					<p><span>¥</span><span>2899.00</span></p>
					<p>MOMENTUM Wireless Ivory  (M2 AEBT Ivory) 新品无线蓝牙降噪耳机</p>
				</a>
			</div>
		</div>
	</section>
	<aside class="aside_right">
		<a href="" data-scroll="floorToTop">
			<span>顶部</span>
            <span>
                <img src="images/base_images/slider-arrow-top.png" alt="">
            </span>
		</a>
	</aside>
	<footer class="footer"></footer>
	<script src="javascripts/jquery-3.2.1.min.js"></script>
	<script src="javascripts/header.js"></script>
	<script src="javascripts/footer.js"></script>
	<script src="javascripts/details.js"></script>
</body>
</html>