<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>廖晓敏 PRODUCT 非商业用途 Sennheiser中国在线商城-森海塞尔耳机官方直销商城</title>
		<link rel="shortcut icon" href="images/favicon.ico"/>
		<link rel="bookmark" href="images/favicon.ico"/>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script>window.resizeTo(500,200);</script>
</head>
<body>
    <header class="header"></header>
    <section class="carousel">
        <div class="carousel_container">
            <a href="/details?productId=30">
                <img src="images/index_images/carousel/carousel_01.jpg" alt="">
            </a>
            <a href="/details?productId=11">
                <img src="images/index_images/carousel/carousel_02.jpg" alt="">
            </a>
            <a href="/details?productId=29">
                <img src="images/index_images/carousel/carousel_03.jpg" alt="">
            </a>
            <a href="/details?productId=18">
                <img src="images/index_images/carousel/carousel_04.jpg" alt="">
            </a>
            <a href="/details?productId=30">
                <img src="images/index_images/carousel/carousel_01.jpg" alt="">
            </a>
        </div>
        <div class="carousel_controler">
            <div class="current">
                <img src="images/index_images/carousel/carousel1.jpg" alt="">
            </div>
            <div>
                <img src="images/index_images/carousel/carousel2.jpg" alt="">
            </div>
            <div>
                <img src="images/index_images/carousel/carousel3.jpg" alt="">
            </div>
            <div>
                <img src="images/index_images/carousel/carousel4.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="floors_huge_box">
        <div class="floor">
            <h4>热卖推荐</h4>
            <div class="floor_container">
                <a href="/details?productId=22">
                    <img src="images/index_images/floor1/1.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor1/1_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>PXC 550</p>
                            <p>蓝牙无线耳机</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">2899.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>PXC 550</p>
                        <p>头等舱的体验 出行从此不同</p>
                    </div>
                </a>
                <a href="/details?productId=17">
                    <img src="images/index_images/floor1/2.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor1/2_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>MOMENTUM In-Ear</p>
                            <p>小巧精致 智能线控</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">749.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>MOMENTUM In-Ear</p>
                        <p>时尚入耳耳机</p>
                    </div>
                </a>
                <a href="/details?productId=16">
                    <img src="images/index_images/floor1/3.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor1/3_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>IE 800</p>
                            <p>旗舰HIFI耳机</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">4699.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>IE 800</p>
                        <p>入耳旗舰 超宽频驱动</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="floor">
            <h4>新品专区</h4>
            <div class="floor_container">
                <a href="/details?productId=18">
                    <img src="images/index_images/floor2/1.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor2/1_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>MOMENTUM In-Ear</p>
                            <p>蓝牙耳机</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">1299.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>MOMENTUM In-Ear Wireless</p>
                        <p>无线入耳 自由聆听</p>
                    </div>
                </a>
                <a href="/details?productId=30">
                    <img src="images/index_images/floor2/2.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor2/2_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>CX 7.00BT</p>
                            <p>无线入耳耳机</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">1249.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>CX 7.00BT</p>
                        <p>高品质 无束缚</p>
                    </div>
                </a>
                <a href="/details?productId=31">
                    <img src="images/index_images/floor2/3.jpg" alt="">
                    <div class="img_top_right">
                        <img src="images/index_images/floor2/3_s.jpg" alt="">
                        <div class="img_top_right_content">
                            <p>HD 4.50</p>
                            <p>蓝牙降噪耳机</p>
                            <p>
                                <span class="rmb">¥</span>
                                <span class="price">1599.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="img_bottom">
                        <p>HD 4.50</p>
                        <p>新品蓝牙降噪耳机</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="floor">
            <h4>外出便携</h4>
            <div class="floor_container">
                <a href="/details?productId=7" class="box_left">
                    <img src="images/index_images/floor3/left.jpg" alt="">
                    <div class="box_left_bottom">
                        <p>
                            <span>Momentum  Wireless</span>
                            <span> 蓝牙无线耳机</span>
                        </p>
                        <p>
                            <span class="rmb">¥</span>
                            <span class="price">2399.00</span>
                        </p>
                    </div>
                </a>
                <div class="box_right">
                    <a href="/details?productId=1" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor3/a1_01.png" alt="">
                                <img src="images/index_images/floor3/a1_02.png" alt="">
                                <img src="images/index_images/floor3/a1_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>URBANITE XL Wireless Black</p>
                            <p><span class="rmb">¥</span><span class="price">2199.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=32" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor3/a2_01.png" alt="">
                                <img src="images/index_images/floor3/a2_02.png" alt="">
                                <img src="images/index_images/floor3/a2_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>CX 5.00</p>
                            <p><span class="rmb">¥</span><span class="price">649.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=15" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor3/a3_01.png" alt="">
                                <img src="images/index_images/floor3/a3_02.png" alt="">
                                <img src="images/index_images/floor3/a3_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>IE 80</p>
                            <p><span class="rmb">¥</span><span class="price">2699.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=8" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor3/a4_01.png" alt="">
                                <img src="images/index_images/floor3/a4_02.png" alt="">
                                <img src="images/index_images/floor3/a4_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>CX 3.00</p>
                            <p><span class="rmb">¥</span><span class="price">399.00</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="floor">
            <h4>无线蓝牙</h4>
            <div class="floor_container">
                <a href="/details?productId=18" class="box_left">
                    <img src="images/index_images/floor4/left.jpg" alt="">
                    <div class="box_left_bottom">
                        <p>
                            <span>MOMENTUM In-Ear Wireless</span>
                            <span>无线蓝牙入耳耳机</span>
                        </p>
                        <p>
                            <span class="rmb">¥</span>
                            <span class="price">1299.00</span>
                        </p>
                    </div>
                </a>
                <div class="box_right">
                    <a href="/details?productId=22" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor4/a1_01.png" alt="">
                                <img src="images/index_images/floor4/a1_02.png" alt="">
                                <img src="images/index_images/floor4/a1_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>PXC 550</p>
                            <p><span class="rmb">¥</span><span class="price">2899.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=7" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor4/a2_01.png" alt="">
                                <img src="images/index_images/floor4/a2_02.png" alt="">
                                <img src="images/index_images/floor4/a2_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>MOMENTUM Wireless</p>
                            <p><span class="rmb">¥</span><span class="price">2399.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=31" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor4/a3_01.png" alt="">
                                <img src="images/index_images/floor4/a3_02.png" alt="">
                                <img src="images/index_images/floor4/a3_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>HD 4.50 BTNC</p>
                            <p><span class="rmb">¥</span><span class="price">1599.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor4/a4_01.png" alt="">
                                <img src="images/index_images/floor4/a4_02.png" alt="">
                                <img src="images/index_images/floor4/a4_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>MOMENTUM On Ear Wireless</p>
                            <p><span class="rmb">¥</span><span class="price">1999.00</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="floor">
            <h4>游戏竞技</h4>
            <div class="floor_container">
                <a href="/details?productId=33" class="box_left">
                    <img src="images/index_images/floor5/left.jpg" alt="">
                    <div class="box_left_bottom">
                        <p>
                            <span>PC 373D</span>
                            <span>高端游戏耳机</span>
                        </p>
                        <p>
                            <span class="rmb">¥</span>
                            <span class="price">2199.00</span>
                        </p>
                    </div>
                </a>
                <div class="box_right">
                    <a href="/details?productId=35" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor5/a1_01.png" alt="">
                                <img src="images/index_images/floor5/a1_02.png" alt="">
                                <img src="images/index_images/floor5/a1_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>GAME ZERO White</p>
                            <p><span class="rmb">¥</span><span class="price">1699.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=34" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor5/a2_01.png" alt="">
                                <img src="images/index_images/floor5/a2_02.png" alt="">
                                <img src="images/index_images/floor5/a2_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>GAME ONE Black</p>
                            <p><span class="rmb">¥</span><span class="price">1499.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=36" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor5/a3_01.png" alt="">
                                <img src="images/index_images/floor5/a3_02.png" alt="">
                                <img src="images/index_images/floor5/a3_03.png" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>GSP 350</p>
                            <p><span class="rmb">¥</span><span class="price">999.00</span></p>
                        </div>
                    </a>
                    <a href="/details?productId=37" class="change_images">
                        <div class="images_view_port">
                            <div class="change_images_container">
                                <img src="images/index_images/floor5/a4_01.jpg" alt="">
                                <img src="images/index_images/floor5/a4_02.jpg" alt="">
                                <img src="images/index_images/floor5/a4_03.jpg" alt="">
                            </div>
                        </div>
                        <div class="change_images_left"></div>
                        <div class="change_images_right"></div>
                        <div class="box_title">
                            <p>GSX 1200</p>
                            <p><span class="rmb">¥</span><span class="price">1899.00</span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer"></footer>
    <aside class="aside_left">
        <div>
            <a href="" data-scroll="floor1">热卖推荐</a>
            <a href="" data-scroll="floor2">新品专区</a>
            <a href="" data-scroll="floor3">外出便携</a>
            <a href="" data-scroll="floor4">无线蓝牙</a>
            <a href="" data-scroll="floor5">游戏竞技</a>
            <a href="" data-scroll="floorToTop">
                顶部
                <span></span>
            </a>
        </div>
    </aside>
    <aside class="aside_right">
        <a href="" data-scroll="floorToTop">
            <span>顶部</span>
            <span>
                <img src="images/base_images/slider-arrow-top.png" alt="">
            </span>
        </a>
    </aside>
    <div class="modal-ad">
	    <div>
		    <span>x</span>
		    <a href="/details?productId=35">
			    <img src="images/index_images/ad.jpg" alt=""/>
		    </a>
	    </div>
    </div>
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/header.js"></script>
    <script src="javascripts/footer.js"></script>
    <script src="javascripts/index.js"></script>
</body>
</html>